<ion-header>
  <ion-toolbar>
    <ion-title>
      ARTE E TRICO
    </ion-title>
    <ion-tabs>

      <ion-tab-bar>
      <ion-tab-button tab="estoque">
        <ion-label>Estoque</ion-label>
      </ion-tab-button>
        <ion-tab-button tab="vendas">
          <ion-label>Vendas</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="clientes">
          <ion-label>Clientes</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>



<ion-content padding>

</ion-content>
